.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    /* background-color: #20c15e;   */
    z-index: 9999;
  }
  
  .progress_bar {
    height: 100%;
    width: 0;
    background-color: #2a9d8f;
    /*Adjust color as needed*/
    /* background-color: #023044;   */
    transition: width 0.2s;
  }
  
  
  #notification-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    /* width: 500px; Adjust as needed */
    text-align: center;
    /* Center text */
  }
  
  .notification {
  
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  .notification.success {
    background-color: #21565e;
  }
  
  .notification.error {
    background-color: #F01E00;
  }
  
  .notification.info {
    background-color: #F9AB00;
    color: white;
    /* Adjust text color for better readability */
  }
  
  .notification.show {
    opacity: 1;
  }
  
  